<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/allQuotesAlphabetical">
        <button>All Quotes alphabetical</button>
    </form>
    <form action="/quotesWithLife">
        <button>Quotes about life</button>
    </form>
    <form action="/quotesLikes">
        <button>Quotes with 50-100 likes</button>
    </form>
    <form action="/quotesTop3">
        <button>Top 3 quotes</button>
    </form>

    <form action="/authorPortrait">
        <button>Author portrait</button>
    </form>
     <form action="/quotesLeast10">
        <button>Least 10</button>
    </form>
        <form action="/quotesWithFreedom">
        <button>Quotes with Freedom</button>
    </form>
    <form action="/quotesWithMotivational">
        <button>Quotes with Motivational</button>
    </form>
        <form action="/quotesWithInspirational">
        <button>Inspirational Quotes</button>
    </form>
</body>
</html>